.cover__link {
    width: 100%;
    /* max-width: 1184px; */
    display: grid;
    align-content: center;
    justify-content: center; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    text-decoration-line: none;
    color: #ffffff;
}