.cover__link {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    text-decoration-line: none;
    color: #ffffff;
    opacity: 1;
    transition: opacity .5s ease-out;
}

.cover__link:hover .cover__background{
    opacity: 0.3;

}





