.page {
    margin: 0;
    display: grid;
    justify-items: center;
    font-family: 'Inter', Arial, sans-serif;
    min-width: 320px;
    background-color: rgba(42, 44, 47, 1);
    color: #ffffff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}