.place__image {
    width: 460px;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: 440px;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}

@media screen and (max-width: 768px) {
    .place__image {
        width: 340px;
        grid-row-start: 2;
        grid-row-end: 3;
    }

} 

@media screen and (max-width: 320px) {
    .place__image {
        width: 100vw;
    }

} 