.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: #ffff;
    justify-items: flex-end;
    /* right: 0; */
    /* width: 100%; */
}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

} 

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        color: #ffff;
        justify-items: flex-end;
        font-size: 14px;
        line-height: 14px;
        width: 100%;
        margin-top: 48px;
    }
    

} 