.cover__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    width: 560px;
    text-align: center;
    justify-self: center; 
    align-self: center;
    font-size: 72px;
    line-height: 76px;
    z-index: 2;
    margin: 0;
}


@media screen and (max-width: 320px) {
    .cover__title {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        width: 288px;
        text-align: center;
        justify-self: center; 
        align-self: center;
        font-size: 32px;
        line-height: 35px;
        z-index: 2;
        margin: 0;
    }

} 